@media  screen and (max-width: 86em)
  {
    /*                                            PROJECTS */
    .section-paragraph {
      width: 68%;
    }
    #project-headings {
      width: 100%;
      margin: 0px 0px 3rem;
    }
    #projects-container {
      height: auto;
    }
    .projects-paragraph {
      margin-top: 0px;
      height: 5.5em;
    }
    .project-details {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
    .projects {
      height: auto;
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-direction: column-reverse;
      margin-bottom: 0;
    }
    .project-image {
      height: auto;
      width: 100%;
      margin: 0 0 5rem;
    }
    .swiper {
      width: 100%;
    }
    .swiper-slide img{
      height: auto;
      width: 100%;
      margin: 0 0;
    }
  }

@media  screen and (max-width: 75em)
  {
   
html {
  font-size: 80%;
}
/*                                                INTRODUCTION  */
#introduction-container {
  height: 531px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0 0 0;
}
#introduction-heading {
  width: 40%;
  margin: 1rem 0 0rem;
  font-size: 1.8rem;
}
#introduction-paragraph {
  width: 40%;
}

#introduction-photo img {
  width: 41%;
  border-radius: 9rem;
  height: 106%;
}
#introduction-photo{

  display: flex;
 
  align-items: center;
  
  width: 100%;
  justify-content: center;
}

  }


@media screen and (max-width: 56.25em)
{

html {
  font-size: 56%;
}
/*                                                    INTRODUCTION */
#introduction-container {
  height: 401px;
}
#introduction-heading {
  width: 40%;
  margin: 1rem 0 0rem;
}
#introduction-paragraph {
  width: 40%;
}

#introduction-photo img {
  width: 43%;
  border-radius: 9rem;
  height: 106%; 
}
#introduction-photo{
  
  width: 100%;
  justify-content: center;
}
#loading{
  display: none;
}
/*                                                ABOUT */
.section-headings {
  width: 100%;
}
#about-container {
  height: 70%;
background-color: #f9f9f9;
padding: 50px 0px;
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
}
#about-skills {
  width: 72.1%;
  height: 60%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 36rem;
}

#left-skills {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.skills-heading {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}
#skills-container {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  color: #666666;
  font-weight: 510;
  justify-content: center;
}
.skill-box {
  width: 4.4rem;
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.section-headings {
  margin: 0px 0px 20px;

}
.section-line {
 
  height: 4px;
  width: 24px;
}
}

@media screen and (max-width: 39.25em)
{
  /*                                                    INTRODUCTION */
  #introduction-container{
    height: 361px;
  }
  #introduction-heading {
    width: 64%;
    margin: 1rem 0 0rem;
  }
  
  #introduction-photo img {
    width: 50%;
  }
  #introduction-paragraph {
    width: 64%;
  }
  #introduction-photo{
   
    width: 100%;
    justify-content: center;
  }
  
  #right-nav ul{
    display: none;
  }
  #right-slider{
    display: none;
  }
  #menu-icon{
    display: inline
  }
  /*                                                      PROJECTS */

  .swiper .swiper-button-prev, .swiper .swiper-button-next {

    width: calc(var(--swiper-navigation-size)/ 44 * 1);
  }
  #buffering-circle {
    margin-top: 20px;
    border: 5px solid #666;
    height: 50px;
    width: 50px;
    border-top: 5px solid black;
}
} 
@media screen and (max-width: 30.25em)
{

  /*                                                    INTRODUCTION */
  #introduction-container {
    height: 331px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0 0 0;
    overflow: hidden;
  }
  #introduction-heading {
    width: 80%;
    margin: 1rem 0 0rem;
  }
  #introduction-paragraph {
    width: 80%
  }
  
  #introduction-photo img {
    width: 55%;
    border-radius: 7rem;
    height: 106%;
  }
  #introduction-photo{
    width: 100%;
    justify-content: center;
  }
  #introduction-paragraph{
    font-size: 1rem;
  }
/*                                                ABOUT */
  #about-skills {
    grid-template-rows: 35.1rem;

  }
 
#projects-container {
  height: auto;
  padding: 5rem 0px;
}
}
@media screen and (max-width: 24.25em)
{
#introduction-photo{
  width: 100%;
  margin-bottom: 4rem;
  justify-content: center;
}
#introduction-photo img {
  width: 90%;
  border-radius: 9rem;

}
#introduction-container {
  height: 460px;
}
#introduction-heading {
  width: 91%;
}
#introduction-paragraph {
  width: 90%;
}


/*                                                ABOUT */

#about-skills {
  grid-template-rows: 38rem;

}
#skill-box8 {
  width: 67px;
}
#skill-box7 {
  width: 52px;
}
#skill-box3 {
  width: 65px;
}
#skill-box6 {
  width: 90px;
}
.skill-box {
  width: 4.4rem;
  height: 3.2rem;
  border-radius: 1.5rem;
}
#introduction-button {
  left: 0;
}
#left-nav {
  gap: 2rem;
}

/*                                                            PROJECTS */
.projects-paragraph {
  height: 70px;
}
#buffering-circle {
  height: 45px;
  width: 45px;
}

}
